@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hind:wght@300;500;600;700&family=Lora:wght@400;600;700&display=swap');

/* General layout */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {

    --ff-base:'Hind', sans-serif;
    --ff-accent:'Archivo Black', sans-serif;
    --ff-serif: 'Lora', serif;

    --clr-text: #000000;
    --clr-background: #e7f0f4;
    --clr-primary: #336170;
    --clr-primary-dark: #224855;
    --clr-primary-hover:#33617015;
    --clr-secondary: #d9e8ed;
    --clr-secondary-dark: #b7d3dd;
    --clr-secondary-hover: #b7d3dd70;
    --clr-accent: #2b525e;
    --clr-accent-hover: #2b525e15;
    --clr-danger:#E02424;
    --clr-danger-hover:#e0242415;
}

body {
    font-family: var(--ff-base);
    background-color: var(--clr-background);
    color: var(--clr-text);
    height: 100vh;
    overflow: scroll;
    line-height: 1.5;
}

#root {
    position: relative;
    margin: 1.5rem auto;
    width: min(100% - 3rem, 70rem);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
}

main,
aside {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

section {
    background-color:var(--clr-secondary);
    padding: 1.25rem 2rem;
    box-shadow: var(--clr-primary-hover) 0px 5px 5px 0px;
    border-radius: 8px;
}

button,
input {
    font-family: inherit;
    line-height: 0;
}

/* Main sections */


.main-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.intro-section h1 {
    font-family: var(--ff-accent);
    font-size: 2.5em;
}

.intro-section p {
    font-weight: 300;
    font-style: italic;
    padding: 1rem 2rem;
    position: relative;
}

.intro-section p:before {
    content: open-quote;
    font-family: var(--ff-accent);
    font-size: 2.5em;
    font-weight: 700;
    position: absolute;
    transform: translate(-1em, -0.25em);
}

.record-card {
    margin: 1.5rem 0;
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
}

.main-footer {
    text-align: center;
}

.main-footer svg {
    margin: 0 0.5rem 0 0;
}

.record-options {
    display: flex;
    gap: 1rem;
}

.record-content .date-text {
    font-weight: 300;
    font-size: 1.1em;
    color: var(--clr-primary);
}

/* Modal */

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.60);
    z-index: 10;
    pointer-events: all;}

.modal {
    z-index: 100;
    width: min(100% - 3rem, 50rem);
    max-height: 40rem;
    overflow-y: scroll;
    padding: 2.5rem;
    background-color: var(--clr-background);
    box-shadow: rgba(100, 100, 100, 0.2) 0px 8px 30px 0px;
    border-radius: 8px;
}

input {
    border: 1px solid var(--clr-background);
    border-radius: 8px;
    padding: 0.5rem 1.2rem;
    font-size: 1em;
}

.modal-header,
.modal-footer {
    display:flex;
}

.modal-header {
    padding-bottom: 2rem;
    justify-content: space-between;
}

.modal-footer {
    padding-top: 2rem;
    justify-content: flex-end;
    gap: 1rem;
}

/* Form */

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

/* Buttons */

button {
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    border: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.main-header button,
.modal-header button {
    font-size: 2em;
    border-radius: 50%;
}

.add-btn,
.main-footer button {
    color: var(--clr-accent);
}

.main-footer button {
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
    font-weight: 600;
    line-height: 1;
}

.record-options button,
.aside-header button {
    font-size: 1.5rem;
    border-radius: 50%;
}

.aside-header button:hover,
.main-header button:hover,
.record-options button:hover,
.modal-header button:hover {
    background-color: var(--clr-secondary-hover);
}

.add-btn:hover,
.main-footer button:hover {
    background-color: var(--clr-accent-hover);
}

.record-options button:last-child:hover {
    color: var(--clr-danger);
    background-color: var(--clr-danger-hover);
}

header button,
.modal-footer button {
    padding: 0.9rem 1.8rem;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: 600;
    text-align:center;
    min-width: 8rem;
    line-height: 1;
}

header button,
.modal-footer button:last-child {
    border: 1px solid var(--clr-primary);
    background-color: var(--clr-primary);
    color: var(--clr-background);
}

header button:hover,
.modal-footer button:last-child:hover {
    border: 1px solid var(--clr-primary-dark);
    background-color: var(--clr-primary-dark);
}

.cancel-btn {
    border: 1px solid var(--clr-secondary);
    background-color: var(--clr-secondary);
    color: var(--clr-text);
}

.cancel-btn:hover {
    border: 1px solid var(--clr-secondary-dark);
    background-color:var(--clr-secondary-dark);
}

/* Aside */

.aside-header {
    display: flex;
    justify-content: space-between;
}

aside p {
    font-size: 1rem;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.skill-tag {
    border-radius: 8px;
    background-color: var(--clr-accent-hover);
    color: var(--clr-accent);
    padding: 0.5rem 1rem;
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.8rem;
}

.skill-tag button {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.info-text {
    color: var(--clr-primary);
    font-size: 0.95em;
    font-style: italic;
}

.list-group {
    margin: 1rem 0;
}

/* Preview */

.resume-preview {
    font-family: var(--ff-serif);
    margin: 0 3rem;
}

.preview-section {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    padding: 2rem 0;
}

.resume-preview h1 {
    padding-top: 1rem;
}

.resume-preview h2,
.resume-preview h3 {
    font-weight: 700;
}


.resume-preview li {
    padding: 0.3rem 0;
}

hr {
    height: 1px;
    background-color: var(--clr-background);
}

.accent-text {
    color: #8d9aa0;
}

.resume-preview .date-text {
    font-style: italic;
}

/* MEDIA QUERIES */

@media (min-width: 734px) {
    #root {
        display: grid;
        grid-template-columns: auto 50rem;
        gap: 1.5rem;
    }

    header {
        grid-column: 1 / 3;
    }

    aside {
        grid-column: 1 / 2;
        grid-row-start: 2;
    }

    main {
        grid-column: 2 / 3;
        grid-row-start: 2;
    }
}