@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap');

/* General layout */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    background-color: rgba(255, 255, 255, 1);
    height: 100vh;
    overflow: auto;
}

main {
    margin: 0 auto;
    max-width: 60rem;
    padding: 1.5rem 1rem;
    position: relative;
}

label,
p {
    font-size: 1.25em;
}

button,
input {
    font-family: inherit;
    line-height: 0;
}

/* Main sections */

.record-list {
    display: grid;
    gap: 1.5rem;
}

.section-header,
.record-card {
    display:flex;
    justify-content: space-between;
}

.section-header {
    padding: 2.5rem 0 1.5rem;
    align-items: center;
}

.record-card {
    align-items:flex-start;
}

.section-footer {
    text-align: center;
}

.section-footer svg {
    margin: 0 0.5rem 0 0;
}

.record-options {
    display: flex;
    gap: 1rem;
}

/* Modal */

.modal {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    width: 80%;
    padding: 2.5rem;
    background-color: #FFF;
    box-shadow: rgba(100, 100, 100, 0.2) 0px 8px 30px 0px;
    border-radius: 8px;
}

input {
    border: 1px solid #f3f3f4;
    border-radius: 8px;
    padding: 0.5rem 1.2rem;
    font-size: 1.2em;
}

input:hover,
input:focus {
    background-color: #f3f3f4;
    border: 1px solid #e7e7e9;
}

.modal-header,
.modal-footer {
    display:flex;
}

.modal-header {
    padding-bottom: 2rem;
    justify-content: space-between;
}

.modal-footer {
    padding-top: 2.5rem;
    justify-content: flex-end;
    gap: 0.8rem;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.60);
    z-index: 10;
    pointer-events: all;
    display: block;
}

/* Form */

form {
    display: grid;
    gap: 1.5rem;
}
.form-group {
    display: grid;
    gap: 0.2rem;
}

/* Buttons */

button {
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    border: 0;
    background-color: transparent;
    display: inline-block;
    padding: 0.5rem;
}

.section-header button,
.modal-header button {
    font-size: 2rem;
    border-radius: 50%;
}

.section-header button,
.section-footer button {
    color: #7E3AF2;
}

.section-footer button {
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
    font-weight: 600;
    line-height: 1;
}

.section-header button:hover,
.section-footer button:hover {
    background-color: #DCD7FE;
}

.record-options button {
    font-size: 1.5rem;
    border-radius: 50%;
}

.record-options button:hover,
.modal-header button:hover {
    background-color: #f3f3f4;
}

.modal-footer button {
    padding: 0.9rem 1.8rem;
    border-radius: 8px;
    font-size: 1.25em;
    font-weight: 600;
    text-align:center;
    width: 8rem;
    line-height: 1;
}

button[type="submit"] {
    border: 1px solid #7E3AF2;
    background-color: #7E3AF2;
    color: #FFF;
}

button[type="submit"]:hover {
    border: 2px solid #5521B5;
    background-color:#5521B5;
}

.cancel-btn {
    border: 1px solid #f3f3f4;;
    background-color: #f3f3f4;
    color: #000;
}

.cancel-btn:hover {
    border: 2px solid #e7e7e9;
    background-color:#e7e7e9;
}